{% extends "movies/base.html" %}

{% block title %}
关于电影日记
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div id="about" class="col-sm-offset-2 col-xs-12 col-sm-8">
            <div class="jumbotron">
                <h2 class="text-center text-info"><em>声明</em></h2>
                <p>网站是出于学习的目的编写的，用于记录自己看过的感觉不错的电影，数据来源于豆瓣。</p>
                <p><a class="btn btn-primary btn-lg" href="{% url 'movie' %}" role="button">淘电影</a></p>
            </div>
        </div>
    </div>
</div>
</style>
{% endblock %}