{% load staticfiles %}
<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {# 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ #} 
    {# Bootstrap #} 
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" >
    {% block head %}{% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">电影日记</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span></a></li>
               <li><a href="{% url 'movie' %}">电影</a></li> 
               <li><a href="{% url 'blog' %} " target="view_window">博客</a></li>
               <li><a href="{% url 'about' %}">关于</a></li> 
            </ul>
            <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text"  name="search" class="form-control" required="required" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            
            {# 用户已登录 #}
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'userinfo' %}">个人资料</a></li>
                            {% if user.is_staff or user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'signout' %}">注销</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'signin' %}">登录</a></li>
                    <li><a href="{% url 'signup' %}">注册</a></li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'rss' %}">RSS 订阅</a></li>
            </ul>             
        </div>
      </div>
    </nav>
    <div style="margin-top: 60px;">
        {% block body %} {% endblock %}
    </div>

    {# jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) #} 
    <script type="text/javascript" src="{% static 'jquery-1.12.4/jquery.min.js' %}"></script>
    {# 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件 #} 
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>
